@model User

@{
    ViewBag.Title = "Register";
}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="~/css/Register.css">
</head>
<body>
    <div class="register-container">
        <h2>Register</h2>

        @using (Html.BeginForm("Register", "User", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Username, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
        @*@Html.ValidationMessageFor(model => model.Username, "Username can't be empty", new { @class = "text-danger" })*@
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password, new { @class = "control-label" })
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
        @*@Html.ValidationMessageFor(model => model.Password, "Password can't be empty", new { @class = "text-danger" })*@
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

            <button type="submit" class="btn btn-primary">Register</button>
        }

        <div>
            @Html.ActionLink("Have an account? Log in", "Login", null, new { @class = "login-link" })
        </div>
    </div>
</body>
</html>